@import url('normalize.css');
@import url('slick.css');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: #c70101;
}

html {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
