.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url("../img/consultation_bg.jpg") center/cover no-repeat;
    &-descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #ffffff;
        border: none;
        font-size: 15px;
        margin-bottom: 15px;
    }
}
